.flex-container {
    display: flex;
    background-color: white;

    flex-direction: row;
}

.flex-container > div {
    background-color: DodgerBlue;
    width: 100px;
    margin: 10px;
    line-height: 75px;
    font- family: Arial;
    font-size: 30px;
    color: white;
    text-align: center;
}